%section{class: 'posts'}
  %section{class: 'post-header'}
    %header{class: 'post-title'}
      = @post.title


  %section{class: 'post'}
    %p
      = @post.body
    
    %footer
      = link_to 'Back', posts_path
      |
      = link_to 'Edit', edit_post_path(@post)

      %section{class: 'votes'}
        .total-votes
          = @post.total_votes
        .vote-buttons
          .up-vote
            = vote_button @post, 'up', '⬆'
            .total-ups
              = @post.up
          .down-vote  
            = vote_button @post, 'down', '⬇'
            .total-downs
              =@post.down
  
  %section{class: 'comments'}
  
    %h4
      Leave a comment:

    %section{class: 'comment-count'}
      %p
        = pluralize @post.comments.count, 'comment'
      
    %section{class: 'post-comment-form'}
      = form_for [@post, Comment.new] do |f|
        .username-field
          = f.text_field :user, placeholder: 'Yo name!'
        .message-body
          = f.text_area :body, placeholder: 'Leave your comment yo!'
        .submit-button
          = f.submit 'Submit comment'

    %section{class: 'post-comments'}
      - @post.comments.each do |comment|
        .comment
          %section{class: 'commenter'}
            %h5
              = comment.user
          %section{class: 'post-comment'}
            %p
              = comment.body
          %section{class: 'comment-links'}
            = link_to 'Destroy Comment', [comment.post, comment],
                      method: :delete,
                      data: { confirm: 'Are you sure?' }
          %section{class: 'votes'}
            .total-votes{'data-id' => comment.id}
              = comment.total_votes
            .vote-buttons
              .up-vote
                = comment_vote_button comment, 'up', '⬆'
                .total-ups{'data-id' => comment.id}
                  = comment.up
              .down-vote  
                = comment_vote_button comment, 'down', '⬇'
                .total-downs{'data-id' => comment.id}
                  =comment.down
          %br